/* +css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  line-height: 1;
  background-color: rgba(255,255,255,0.6);
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* -css reset */

/* +header */
header {
  margin: 100px 0 0 24px;
}

h1 {
  font-weight: 900;
  font-size: 144px;
  text-align: left;
}
/* -header */

/* +body */
.entry {
  display: block;
  margin-top: 48px;
  font-size: 14px;
  line-height: 18px;
  margin: 44px 250px 44px 250px;
  font-weight: 300;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

h4 {
  font-weight: 600;
  font-size: 14px;
  margin-top: 24px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hotpink;
}

#entry1 {
  margin-bottom: 36px;
}

#entry2 {
  margin-bottom: 36px;
}

#entry1 img {
  width: 800px;
}

#entry2 img {
  width: 800px;
}
/* -body */

/* +footer */
footer {
  padding-left: 24px;
  position: absolute;
  top: 75%;
}

footer a:hover {
  color: deepskyblue;
}

h5 {
  font-weight: 400;
  margin-right: 24px;
}
/* -footer */
